/*SECTION_1_____________________________________________________________________*/

@font-face {
  font-family: Wav;
  src: url('../fonts/21154.otf');
}
@font-face {
  font-family: Reg;
  src: url('../fonts/reg.ttf');
}

/*SECTION_2_____________________________________________________________________*/


header {
	height: 8vh;
	background-color: #313030;
}

footer {
	display: flex;
	height: 8vh;
	background-color: #313030;
	align-items: center;
	justify-content: center;
	font-family: Wav;
	font-size: 1.5vw;
	color: #f6f2f2;
}

footer a {
	color: #ff2d2d;
}

footer a:hover {
	color: #921911;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-family: Reg;
}

button:hover {
	background-color: #0072FF;
}

.space-div {
	min-width: 1vw;
}

/*SECTION_3_____________________________________________________________________*/

#menu {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
	height: 100%;
}

#menu ul {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#menu li {
	height: 100%;
}

#menu a {
	display: flex;
	height: 100%;
	color: #f6f2f2;
	text-align: center;
	font-family: Wav;
	font-size: 1.5rem;
	align-items: center;
	padding: 0 3vw 0 3vw;
}

#menu a:hover{
	background: #ff2d2d;
}

/*SECTION_4_____________________________________________________________________*/

#page {
	display: flex;
	min-height: 100vh;
	font-family: Reg;
	font-size: 1.5vw;
}

#page h1 {
	text-align: center;
	margin: 10px 0 10px 0;
}

.sides {
	width: 100%;
	background-color: #f6f2f2;
	text-align: center;
	/*visibility: hidden;*/
}

#midle {
	width: auto;
	min-width: 50vw;
}

/*SECTION_5_____________________________________________________________________*/

#instruction-block {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

#instruction-block select {
	padding: 5px 0px 0px 0px;
	font-size: 1vw;
	line-height: 1vw;

}

.instruction {
	color: #d15128;
}

#init-btn-div {
	display: flex;
	justify-content: center;
}

#init-btn {
	/*font-size: 10vw;*/
}

/*SECTION_6_____________________________________________________________________*/

#table-block {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	visibility: hidden;
}

#table-block input {
	text-align: center;
	display: block;
	width: 90%;
	font-size: 1.5vw;
}

#main-form {
	width: 80%;
}

#right-table input {
	background-color: #b5d5ff;
}

#left-table input {
	background-color: #edeef0;
}

.undertable {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

#gauss-start-btn {
	width: 50%;
}

#iteration-div {
	visibility: hidden;
}
.iteration-btn {
	width: 47%;
}

/*SECTION_7_____________________________________________________________________*/

#explanation-div{
	/*width: 80%;*/
	padding: 0 3vw 0 3vw;
	margin: 0 auto 0 auto;
	background-color: #c5cce1;
	visibility: hidden;
	text-align: center;
}


#finish-div {
	padding: 0 3vw 0 3vw;
	margin: 0 auto 0 auto;
	background-color: #4DCE91;
	visibility: hidden;
	text-align: center;
}
